<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img src="assets/logo.png" style="width: 40px; height: 40px" />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="text-secondary"
            class="nav-link px-2"
          >
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/characters"
            routerLinkActive="text-secondary"
            class="nav-link px-2"
          >
            Characters
          </a>
        </li>
        <li>
          <a
            routerLink="/locations"
            routerLinkActive="text-secondary"
            class="nav-link px-2"
          >
            Locations
          </a>
        </li>
        <li>
          <a
            routerLink="/episodes"
            routerLinkActive="text-secondary"
            class="nav-link px-2"
          >
            Episodes
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
