<footer class="bg-dark text-center text-white">
  <div class="socials">
    <!-- Facebook -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://www.facebook.com/profile.php?id=100009854975845"
      target="_blank"
      role="button"
    >
      <i class="fab fa-facebook-f"></i>
    </a>

    <!-- Twitter -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://twitter.com/eric_j_p_"
      target="_blank"
      role="button"
    >
      <i class="fab fa-twitter"></i>
    </a>

    <!-- Instagram -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://www.instagram.com/ejanero/"
      target="_blank"
      role="button"
    >
      <i class="fab fa-instagram"> </i>
    </a>

    <!-- Linkedin -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://www.linkedin.com/in/eric-janero/"
      target="_blank"
      role="button"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>

    <!-- Github -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://github.com/ejanerop"
      target="_blank"
      role="button"
    >
      <i class="fab fa-github"></i>
    </a>
  </div>
</footer>
