<div class="search-container">
  <input
    type="text"
    class="form-control-lg"
    placeholder="Search..."
    [(ngModel)]="term"
    (ngModelChange)="this.searchUpdate.next($event)"
  />
</div>

<app-loading [loading]="loading"></app-loading>

<app-notfound [visible]="notFound"></app-notfound>

<div class="pagination-container" *ngIf="!loading && !notFound">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item disabled" [ngClass]="{ disabled: currentPage == 1 }">
        <a class="page-link" (click)="prevPage()">Previous</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link"> Page {{ currentPage }} of {{ pages }} </a>
      </li>
      <li class="page-item" [ngClass]="{ disabled: currentPage == pages }">
        <a class="page-link" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div class="locations-container" *ngIf="!loading && !notFound">
  <app-location
    *ngFor="let location of locations"
    [location]="location"
  ></app-location>
</div>
