.locations-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.page-item:not(.disabled) {
  cursor: pointer;
}
